<main>
  <h1>What's the vibe?</h1>
  <section id="mood-playlists">
    <h2>Choose Your Mood:</h2>
    <div class="mood-container">
      {{#each moods}}
      <!-- Update the href to use the mood's name or a specific identifier -->
      <a href="/playlists/{{this.name}}" class="mood-box-link">
        <div class="mood-box" data-mood="{{this.name}}">
          <!-- Ensure the mood's name is displayed inside the box -->
          <h3>{{this.name}}</h3>
        </div>
      </a>
      {{/each}}
    </div>
  </section>
</main>

