<main>
  <h1>What's the vibe?</h1>
  <section id="mood-playlists">
    <h2>Choose Your Mood:</h2>
    <div class="mood-container">
      {{#each moods}}
      <a href="/playlists/{{this}}" class="mood-box-link">
        <div class="mood-box" data-mood="{{this}}">
          <h3>{{this}}</h3>
        </div>
      </a>
      {{/each}}
    </div>
  </section>
</main>

